# .gitignore


/.idea/
.DS_Store


__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ==========================================================

/eval/bert_model/**
/eval/config_template/**


!/eval/bert_model/.gitkeep


/eval/data/**


!/eval/data/.gitkeep


/eval/generate_checklist.py
/eval/predict_with_xgboost.py
/eval/xgboost_model.joblib
# ==========================================================


metric_results.jsonl

/engagement_prove/

*jsonl
.env
/sbatch/
/analysis/
/eval_output/
/eval/analyze_correlations.py
/eval/compare_model_correlation.py

/pragent/model/*
/plot/*
/.vscode/
/pr_test/
/cachefigure/
*sh
!script/*.sh
generated_post
.gradio
/.temp_output/
